.app-header button {
  margin: 0 16px;
}

.app-header button.mat-mdc-button {
  color: white;
}

.app-header .spacer {
  flex: 1 1 auto;
}

.app-header .mat-toolbar {
  background-color: black;
  color: white;
  padding: 0 64px;
}

.app-header .links-toolbar > * {
  margin-right: 20px;
}

.app-header .links-toolbar > *:first-child {
  margin-right: 0;
}

.app-header img {
  vertical-align: middle;
}

.app-header .mat-mdc-outlined-button:not(:disabled) {
  border-color: #673ab7;
  color: #673ab7;
}