<footer class="app-footer">
	    <div class="inner">
	      <ul>
	        <li>
	          <img src="logo-com-tagline.png">
	        </li>
	        <li>
	          Horário de atendimento: 08h - 20h (Segunda a Sábado)
	        </li>
	        <li>
	          Desenvolvido por Horácio Ingressos. Todos os direitos reservados.
	        </li>
	      </ul>
	      <ul class="socials">
	        <li>Acesse nossas redes:</li>
	        <li>
	          <a href="#" class="social-link">
	            <img src="whatsapp.png">
	          </a>
	          <a href="#" class="social-link">
	            <img src="instagram.png">
	          </a>
	          <a href="#" class="social-link">
	            <img src="twitter.png">
	          </a>
	        </li>
	      </ul>
	    </div>
	</footer>